<p>Lista Prodotti</p>

<div class="container">

  <button type="button" class="btn btn-primary">Aggiungi Prodotto</button>
</div>
<br>
<!--
<ol>
    <li *ngFor="let product of products">{{product['name']}}</li>
</ol>
-->

<div class="accordion" id="accordionExample">

  <div class="card" *ngFor="let product of products; index as idx">
    <div class="card-header" [attr.id]="'heading'+idx">
      <h2 class="mb-0 header-with-buttons">
        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
          [attr.data-target]="'#collapse'+idx" aria-expanded="true" [attr.aria-controls]="'collapse'+idx">
          {{product['name']}} (cod: {{idx}})
        </button>
        <button type="button" class="btn btn-danger" (click)="removeProduct(idx)">Rimuovi</button>
      </h2>
    </div>

    <div [attr.id]="'collapse'+idx" class="collapse show" [attr.aria-labelledby]="'heading'+idx"
      data-parent="#accordionExample">
      <div class="card-body">
        <div>Prezzo: {{product['price']}} €</div>
        <div>Descrizione: {{product['description']}}</div>
      </div>
    </div>
  </div>

</div>